@model UniversityEvents.Application.ViewModel.CategoryVm
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Create Category</h2>
            <form asp-action="Create" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter category name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <textarea asp-for="Description" class="form-control" rows="4" placeholder="Enter category description"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>
</div>


    <partial name="_ValidationScriptsPartial" />
